@import "../vars.css";

.container{
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    color: var(--color-text);
    background-color: var(--color-background);
}

.hovedinnhold{
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
}


