.video {
    object-fit: cover;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    width: 100%;
    background-color: var(--color-background);
    display: block;
}

.logo {
    position: absolute;
    bottom: 8rem;
    left: var(--gutter);
    width: 25rem;
}